@charset "UTF-8";
/*-------------------------------------------
ABOUT
-------------------------------------------*/

#collection_of_works {
  text-align: center;
  max-width: 1240px;
  margin: -50px auto 10px auto;
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  padding: 100px 16px 50px 16px;
}

#about {
  max-width: 600px;
  text-align: center;
}
#about p {
  line-height: 1.9;
  margin-bottom: 30px;
}